body {
	color: rgb(82, 82, 82) !important;
}

.form {
	background: white;
	width: 50%;
	/* overflow: auto; */
	/* height: 500px; */
	position: relative;
	border-radius: 6px;
}

.close_btn {
	background: rgb(235, 235, 235);
	/* font-weight: bold; */
	position: absolute;
	border-radius: 90px;
	padding: 2px 5px;
	right: 3%;
	top: 1%;
	font-size: 10px;
	cursor: pointer;
	text-transform: uppercase;
	/* margin: 5px 0; */
}

.input_container {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.input_label {
	font-weight: 600;
	color: #202020;
	align-self: flex-start;
}

.input_field {
	border: 1.5px solid #cfc7ca;
	outline: none;
	color: #202020;
	margin-top: 5px;
	padding: 5px 8px 5px 8px;
	width: 90%;
}

.checkbox_input_container {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.checkbox_label {
	padding-left: 15px;
}

.checkbox_input {
	height: 20px;
	width: 20px;
	border: 1px solid #cfc7ca;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}

.permissions {
	text-align: left;
	padding: 5px 0;
	font-weight: 600;
	color: #202020;
}

.email_checkbox {
	text-align: left;
	margin-left: 20px;
}

.subscribe {
	background: #686868;
	color: white;
	outline: none;
	border: none;
	padding: 6px 12px;
	margin: 20px 0px;
	border-radius: 5px;
}

.text_sm {
	font-size: 13px !important;
}

.strong {
	font-weight: bold !important;
	font-size: 17px !important;
}

#mc_embed_signup {
	background: #fff;
	clear: left;
	font: 14px Helvetica, Arial, sans-serif;
}
.permissions {
	font-size: 18px;
	margin-bottom: 0px;
}

.checkbox {
	padding: 6px !important;
}

.checkbox:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.close-btn {
	border: 1px solid #888;
	outline: none;
	background-color: none;
	padding: 0 32px;
	height: 40px !important;
}

@media screen and (min-width: 768px) {
	.close-btn {
		display: none;
	}
}
